/* Styling results */
#metrics table {
	font-size:12px;
	margin:0px;
}
#metrics button {
	position:absolute;
	top:5px;
	right:10px;
}
#metrics {
	padding:0px;
	position:relative;
}

/* Results on home page */
#metricsContainer.allMetrics #metrics button {
	display:none;
}

